body{
  background-color: black;
}

nav{
  background-color: black;
}

.logo{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 3px 3px 3px rgb(163, 161, 161);
  color: white;
}

.navtab{
  font-size: 19px;
  color: rgb(255, 255, 255);
}

.nav-link{
  color: rgb(255, 252, 252);
  font-family: 'Times New Roman', Times, serif;
}

.about-me{
  margin-top: 100px;
}

.about, .description{
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.resume{
  text-align: center;   
  color: white; 
  font-size: 18px;
}

.submit{
  margin-top: 20px;
  background-color: rgb(214, 200, 200);
  color: black;
  border-color: white;
  margin-left: 43%;
}

.description {
  margin-left: 100px;
  margin-right: 100px;
}

.about-me{
  margin-top: 200px;
}

.portfolio{
  margin-top: 100px;
}

#contact{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

#resume{
  margin-top: 200px;
}

.label{
  color: white;
}

